* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  display: flex;
  padding: 0;
  margin: 0;
}

img {
  width: 10rem;
}

.cards {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 70rem;
  height: 55rem;
  perspective: 1000px;
}

.memory-card {
  position: relative;
  width: 15rem;
  align-items: center;
  justify-content: center;
  display: flex;
  transform-style: preserve-3d;
  transition: transform 0.3s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.memory-card:active {
  transform: scale(97%);
  transition: 0.1s;
}

.back-face,
.front-face {
  position: absolute;
  background-color: rgb(1, 81, 202);
  padding: 3.5rem 2rem;
  border-radius: 10px;
  backface-visibility: hidden;
}

.back-face {
  transform: rotateY(180deg);
}
